<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module 
    </p>
</div>

<div class="grid">
    <div class="col md:col-6">
        <p-fieldset legend="i18enSelect Pipe" [toggleable]="true">
            <p>
                Saludos {{nombre}}, es un placer
                {{ genero | i18nSelect:invitacionMapa }}
                a nuestro evento.
            </p>

            <p-button label="Cambiar Persona" (onClick)="cambiarCliente()"></p-button>
          
        </p-fieldset>
    </div>


    
    <div class="col md:col-6">
        <p-fieldset legend="i18nPlurar Pipe" [toggleable]="true">

            <p>
                Actualmente tenemos 
                {{clientes.length | i18nPlural:clientesMapa}}
            </p>

            <p-button (onClick)="borrarCliente()" 
            label="Borrar Cliente"  
            styleClass="p-button-info"></p-button>
           
        </p-fieldset>
    </div>

    <div class="col md:col-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">

          <b>Original</b>
          <pre>{{clientes}}</pre>

          <b>slice:0:2</b>
          <pre>{{clientes | slice:0:2}}</pre>

          <b>slice:1:2</b>
          <pre>{{clientes | slice:1:2}}</pre>
           
        </p-fieldset>
    </div>

    <div class="col md:col-6">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
           
        <pre>
            {{heroes | json}}
        </pre>
          
        </p-fieldset>
    </div>

    <div class="col md:col-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
           
            <ul>
                <li *ngFor="let item of persona | keyvalue">
                 <b> {{ item.key | titlecase}}:  </b>   {{item.value}}
                </li>
            </ul>
          
        </p-fieldset>
    </div>

    <div class="col md:col-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true">

            <pre *ngIf="!(miObservable | async)">Resolviendo observable</pre>
            <pre>{{miObservable | async}}</pre>
            
            <pre *ngIf="!(valorPromesa | async)">Resolviendo promesa</pre>
            <pre>{{valorPromesa | async}}</pre>
        
        </p-fieldset>
    </div>

   
</div>