<!-- <div class="text-layout">
    <h1>{{nombre | titlecase}}</h1>
    <h1>{{valor | number}}</h1>
    <h1>{{obj | json}}</h1>
</div>

<p-button 
 styleClass="p-button-help"
 icon="pi pi-heart" 
 iconPos="right" 
 label="Quetzal">
</p-button>


<p-card [header]="nombre | titlecase" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">
       sirve para poner algo hasta arriba
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>