<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">Go to login</a>
    </li>

    <li>
        <a routerLink="/auth/register">Go to register</a>
    </li>

    <li>
        <a routerLink="/heroes/list">Go to list Hero</a>
    </li>

    <!-- <li>
        <a routerLink="/heroes/add"> Add Hero</a>
    </li>
    <li>
        <a routerLink="/heroes/edit/redfg">Go to Edit Hero</a>
    </li>
    <li>
        <a routerLink="/heroes/search">Search Hero</a>
    </li> -->
   
    
</ul>