<div>
    <div class="pelicula">
        <img src="https://images7.alphacoders.com/325/thumb-1920-325547.jpg" class="pelicula2">
        <div class="pelicula">
            <div class="rojo">
                <img src="https://images7.alphacoders.com/325/thumb-1920-325547.jpg" class="imgFondo" alt="">
            </div>
            <div class="letras">
                <div class="titulo">
                    <h1 class="centrado">El increible castillo vagabundo</h1>
                </div>
                <div>
                    <h3>
                        <span class="badge bg-info" id="etiqueta">Fantasia</span>
                        <span class="badge bg-info" id="etiqueta">Religion</span>
                    </h3>
                </div>
                
                <div class="plataformas">
                    <img src="https://hbomax-images.warnermediacdn.com/2020-05/square%20social%20logo%20400%20x%20400_0.png"
                        id="esquinas_redondeadas" alt="" class="plataforma">
                    <img src="https://brandemia.org/sites/default/files/sites/default/files/icono_netflix_nuevo.jpg"
                        id="esquinas_redondeadas" alt="" class="plataforma">
                </div>

            </div>
        </div>

    </div>
    <div>
        <div class="informacion">
            <h2>Director: Chalino Sanchez</h2>
        </div>
        <hr>
        <div class="informacion">
            <h2>Escritor: El beto de en medio</h2>
        </div>

        <hr>
        <div class="informacion">
            <h2 class="centrado" style="text-align: center;">Sipnosis</h2>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae animi sequi iste vel, neque ut reiciendis dolor quae accusamus, ipsam nulla nisi libero, illum consequatur iure quisquam autem? Porro, doloribus?</h2>
        </div>
        <hr>
        <div class="centrarTexto">
            <h2>-Trailer-</h2>
            
        </div>
        
        <hr>
        <div class="actores">
            <div class="centrarTexto">
                <h2>-Actores-</h2>
            </div>
        
            <div class="actores informacion">
                <div class="actor">
                    <img class="circular" src="https://grancinema.net/grafico/2021/09/La-Roca-Dwyane-Johnson-1024x768.jpg" />
                    <h2 style="text-align: center;">Roka</h2>
                </div>
                <div class="actor">
                    <img class="circular" src="https://grancinema.net/grafico/2021/09/La-Roca-Dwyane-Johnson-1024x768.jpg" />
                    <h2 style="text-align: center;">Roka</h2>
                </div>
                <div class="actor">
                    <img class="circular" src="https://grancinema.net/grafico/2021/09/La-Roca-Dwyane-Johnson-1024x768.jpg" />
                    <h2 style="text-align: center;">Roka</h2>
                </div>
                <div class="actor">
                    <img class="circular" src="https://grancinema.net/grafico/2021/09/La-Roca-Dwyane-Johnson-1024x768.jpg" />
                    <h2 style="text-align: center;">Roka</h2>
                </div>
                <div class="actor">
                    <img class="circular" src="https://grancinema.net/grafico/2021/09/La-Roca-Dwyane-Johnson-1024x768.jpg" />
                    <h2 style="text-align: center;">Roka</h2>
                </div>
            </div>
        </div>
        
        <hr>

        

    </div>


</div>