<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" 
              [formGroup]="miFormulario"
              (submit)="enviarFormulario()">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="nombre"
                           placeholder="Nombre del usuario">

                    <span class="form-text text-danger"
                           *ngIf="noEsValido('nombre')">
                        Debe de ser en formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           formControlName="email"
                           placeholder="Email del usuario">

                    <span class="form-text text-danger"
                           *ngIf="noEsValido('email')">
                        El correo es obligatorio
                    </span>
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="username"
                           placeholder="Codigo del usuario">
                    <span class="form-text text-danger"
                           *ngIf="noEsValido('username')">
                        El username no puede ser Strider
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           formControlName="password"
                           placeholder="Password de la cuenta">
                           <span class="form-text text-danger"
                           *ngIf="noEsValido('password')">
                        La contraseña debe ser mayo a 5 caracteres
                    </span>
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                           formControlName="password2"
                           class="form-control"
                           placeholder="Confirmar la contraseña">

                           <span class="form-text text-danger"
                           *ngIf="noEsValido('password2')">
                            La contraseña deben ser iguales
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Crear
                    </button>
                </div>
            </div>
                


          
        </form>
    </div>
</div>

<h2>Form Valid: {{miFormulario.valid}}</h2>
<br>

<h5>Nombre</h5>
<pre>{{miFormulario.controls['nombre'].errors | json}}</pre>

<h5>Email</h5>
<pre>{{miFormulario.controls['email'].errors | json}}</pre>

<h5>Username</h5>
<pre>{{miFormulario.controls['username'].errors | json}}</pre>

<h5>Password</h5>
<pre>{{miFormulario.controls['password'].errors | json}}</pre>

<h5>Password2</h5>
<pre>{{miFormulario.controls['password2'].errors | json}}</pre>