<section class="grid grid-col-1">

  @defer () {
    <app-heavy-loaders-slow cssClass="bg-blue-500"/>
  }@placeholder {
    <p class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">
      Cargando...
    </p>
  }

  @defer () {
    <app-heavy-loaders-slow cssClass="bg-yellow-500"/>
  }@placeholder {
    <p class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">
      Cargando...
    </p>
  }


  @defer () {
    <app-heavy-loaders-slow cssClass="bg-red-500"/>
  }@placeholder {
    <p class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">
      Cargando...
    </p>
  }


</section>
